{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}


<div class="example-wrapper" >
    <h1>Meinn konto</h1>

    <p> Willkommen {{ app.user.firstname}} in Ihrem Konto </p>



</div>
{% endblock %}
