{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('account') }}


{% endblock %}

{% block title %}Hello RegisterController!{% endblock %}



{% block body %}
    <section class="blockBody">

<div class="example-wrapper mt-5">

    <h1>Anmeldung</h1>

    </div>
    {{ form (form) }}
</div>

    </section>
{% endblock %}
{% block javascripts %}
{% endblock %}

