{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}

<div class="example-wrapper mt-5">
    <h1>Anmeldung</h1>

    {{ form (form) }}
</div>
{% endblock %}
