@import "app.scss";
@import "variablen.scss";


.blockAdmin{
  padding-top: 80px;
}
.titreH2 {
  font-size: $font-size-h3;
}

.account-item{
  padding:$spacing-4;
  border:solid;
  border-color : $primary;
  border-radius : 10px;

  a{
    text-transform: uppercase;
    font-size: $font-size-h4;
    color: $dark;
    font-weight: bold;

    hover{
      text-decoration: none;
      color:$dark
    }
  }
}

.icon {
  object-fit: cover;


}

.vich-file {
  & .form-group{
    display: none;
  }

  & a {
    display: none;
  }
}

label {
  color: $dark;
}

.idImage {
  width: 18rem;
  height: 18rem;
}

img{
  width: 150px;
  height: 150px;
}

//.custom-file-input ~ .custom-file-label:lang(fr)::after {
//  content: "Parcourir...";
//}

@media screen and (max-width: 1150px) {
  .title {
    font-size: 3rem;
  }
}

