@import "app";

.homeTop {
  height: 100vh;
  width: 100%;

  .homePicture {
    object-position: center;
    object-fit: cover;
    margin: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    right: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    z-index: -1;
    opacity: 1;

  }

  img {

  }

  .homeTxt {
    width: 80%;
    padding-top: 40px;
    background: $light;

  }

  .homeTxt * {
    margin-top: $spacing;
    margin-bottom: $spacing;
    color: $idontknow;
    text-align: center;
  }

}

.main-title {
  font-size: $font-size-h1;


  h1 {
    font-family: $font-text;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: $font-size-h2;

  }

  span {
    font-size: $font-title
  }
}

@media screen and (min-width: 1100px) {

  .main-title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: $big-title;
    span {
      font-size: $font-size-h2;
    }
  }


}
@media screen and (max-width: 850px) {

  .main-title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: $font-size-h3;
    span {
      font-size: $font-size-h4;
    }
  }
}
@media screen and (max-width: 650px) {

  .main-title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: $font-size-h4;
    span {
      display: none;
    }
  }
}

.title-action{
  font-family: $font-text;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 90px;
  margin-top: $spacing;
  margin-bottom: $spacing;
  color: $idontknow;
  text-align: center;
}
.title-uns{
  font-family: $font-text;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: $font-size-h1;
  margin-top: $spacing-5;
  margin-bottom: $spacing-4;
  color: $idontknow;
  text-align: center;
}


.box {
  width: 80vw;
  height: 1vh;
}

.arrow {
  --pos-x1: 0;
  --pos-x2: calc(100% - (1/50 * 100%));
  --pos-y1: calc(1/3 * 100%);
  --pos-y2: calc(2/3 * 100%);

  width: 100%;
  height: 100%;
  background: $secondary;

  clip-path: polygon(
                  var(--pos-x1) var(--pos-y1),
                  var(--pos-x2) var(--pos-y1),
                  var(--pos-x2) 0,
                  100% 50%,
                  var(--pos-x2) 100%,
                  var(--pos-x2) var(--pos-y2),
                  var(--pos-x1) var(--pos-y2)
  );
}

.blocks {
  display: flex;
  flex-direction: row;
}

.block-content {
  height: 100px;
  margin: 75px 0 75px;
}

.block {
  width: 25%;
}

.picto {
  text-align: center;
}

.timeline {
  position: absolute;
  top: 200px;
  width: 80%;
  margin-left: 10%;
}

.time-content {
  position: relative;

}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


@media (max-width: 1500px) {
  .timeline {
    top: 210px;
  }
}

@media (max-width: 1000px) {
  .timeline {
    display: none;
  }

  .block-content {
    margin: 20px 0 20px;
  }
}

@media (max-width: 800px) {

  .blocks {
    flex-direction: column;
  }
  .block  {
    display: flex;
    width: 80%;
    margin-left: 10%;
  }
  .block:nth-child(odd){
    display: flex;
    flex-direction: row-reverse;
  }
  .block-content {
    margin: 20px;
  }
}

@media (max-width: 480px) {
  .block {
    display: flex;
    flex-direction: column;
  }
  .block:nth-child(odd){
    display: flex;
    flex-direction: column-reverse;
  }
  .block-content{
    margin: 0;
  }
  .picto{
    margin-bottom: 30px;
  }


}