@import "app.scss";

.blockBody{
  margin-top: 80px;
}
.single-product {
  width: 18rem;
}
.titreH2 {
  font-size: $font-size-h3;
}

.card {
  width: 18rem;
  background-color: $primary;
}
//.pictureProduct {
//  width: 50px;
//  height: 50px;
//}

