@import "app.scss";

.blockBody{
  margin-top: 80px;
}
.single-product {
  width: 18rem;
}
.titreH2 {
  font-size: $font-size-h3;
}


.product-container {
  margin-bottom: 150px;
}

.pictureProduct {
  height: 250px;
  object-fit: cover;
  width: 100%;
}
