<form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Möchten Sie dieses Element wirklich löschen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-danger btn m-3">Zurück zur Liste</button>
</form>
