{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <section class="blockAdmin">
        <h1 class="title text-center mb-5 mt-xxl-5">Bearbeiten Kategorie</h1>
        <div class = "container">
            {{ include('admin/category/_form.html.twig', {'button_label': 'Bestätigen'}) }}

            <a class="btn btn-primary btn m-3" href="{{ path('app_category_index') }}">Zurück zur Liste</a>

            {{ include('admin/category/_delete_form.html.twig') }}
        </div>
    </section>


{% endblock %}
