{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block title %}New Category{% endblock %}

{% block body %}
    <section class="blockAdmin">
        <h1 class="title text-center mb-5 mt-xxl-5">Neue Kategorie </h1>
        <div class = "container">
            {{ include('admin/category/_form.html.twig') }}

            <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('app_category_index') }}">back to list</a>
        </div>
    </section>


{% endblock %}
