{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('uber_uns') }}


{% endblock %}

{% block title %}Contakt {% endblock %}

{% block body %}
<section class="blockBody">
   <h2 class="text-center"> Kontaktiere uns</h2>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
        <hr>
    {% endif %}
    <div class="row m-5">
        <div class="col-md-8">
            {{ form(form) }}
        </div>
        <div class="col-md-4">
            <p><strong>Bioladen</strong></p>
            <p>01575 1234567</p>
            <p>Graf Straße 8, 31737 Rinteln</p>
            <p>bioladen@gmail.com</p>
        </div>
    </div>
</section>
{% endblock %}
