{% extends 'base.html.twig' %}

{% block title %}Hello UberUnsController!{% endblock %}

{% block body %}
    <div>
        <h1>
            Warum uns wählen ?

            Heutzutage möchte jeder in der Lage sein, qualitativ hochwertige und frische Produkte zu essen. Aber wie nach einem Arbeitstag zu tun. Aus diesem Grund haben wir unseren Online-Bioladen erstellt, der es Ihnen ermöglicht, innerhalb von 48 Stunden (Montag bis Samstag) frische und regionale Produkte zu liefern.

        </h1>
    </div>
{% endblock %}
