{% block footer %}
    <footer class="footer text-center text-white bg-secondary" >
        <div class="container">
            <section class="mt-5">
                <div class="row text-center d-flex justify-content-center pt-5">
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="{{ path ('app_uber_uns') }}" class="text-footer">Über uns</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="{{ path('app_contact') }}" class="text-footer">Kontakt</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="{{ path ('account') }}" class="text-footer">Konto</a>
                        </h6>
                    </div>
                </div>
            </section>
            <hr class="my-5" />
            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <p>
                            100% von hier. Essen Sie biologisch und lokal
                        </p>
                    </div>
                </div>
            </section>
        </div>

        <div class="text-center p-3">
            © 2022 Copyright: Bioladen
        </div>
    </footer>


{% endblock %}