{% block navBar %}

    <nav class="navbar navbar-expand-lg bg-secondary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bioläden</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item mx-3">
                        <a class="nav-link active" aria-current="page" href="#">Früchte</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="#">Gemüse</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="#">Unsere Körbe</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="#">Über uns</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="#">Kontakt</a>
                    </li>
                    {% if app.user %}
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{{ path ('account') }}">Mein Konto</a> | <a class="nav-link" href="{{ path ('app_logout' )}}">Ausloggen</a>
                    </li>
                    {% else %}
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="{{ path('register' )}}">Anmeldung</a> | <a class="nav-link" href="{{ path ('app_login' )}}">Verbindung</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}