{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('product') }}

{% endblock %}

{% block title %}Hello OrderValidateController!{% endblock %}

{% block body %}
<section class="blockBody">
    <p>
        <h1>Votre commande a ete validée</h1>
    </p>
</section>

{% endblock %}
